<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit Item</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="editItem()">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="item.name" name="name" required>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="item.description" name="description" required>
        </mat-form-field>
        <br />
        <div class="button-container">
          <button mat-button (click)="goBack()">Back</button>
          <button mat-raised-button color="primary" type="submit">Save Changes</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
